/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, header, footer, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, header, footer, summary {
  display: block;
}

@font-face {
  font-family: "code";
  src: url("../fonts/code/code-light.ttf") format("truetype"), url("../fonts/code/code-light.otf") format("opentype");
}
@font-face {
  font-family: "century-gothic";
  src: url("../fonts/century-gothic/century-gothic.ttf") format("truetype"), url("../fonts/century-gothic/century-gothic.otf") format("opentype");
}
html, body {
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  padding: 10px;
  font: 24px "century-gothic", sans-serif;
}

section, header, footer {
  background: #f6f6f6;
}

h2 {
  font: 18px "century-gothic", sans-serif;
  text-transform: uppercase;
}

.main-header {
  padding: 25px 0;
}

h1 {
  text-indent: -9999px;
  margin-top: -35px;
}

.flex-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.menu-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.menu-list li {
  margin-left: 50px;
  font: 16px "code", serif;
}
.menu-list a {
  color: #000;
  text-transform: uppercase;
}

.menu {
  display: none;
}

a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

a:hover, a:active, a:visited, a:link {
  outline: none;
  text-decoration: none;
}

button {
  display: block;
  border: none;
}

.padding-btn {
  padding: 25px 10px;
}

.padding-rtl {
  padding: 10px 25px;
}

.black-btn {
  background: #000;
}

.text-btn {
  color: white;
}

.border-btn {
  border-bottom: 2px solid #ffeb00;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hover-colors:hover {
  background: yellow;
  color: #000;
  border-color: #000;
}

.hover-yellow:hover {
  background: #ffeb00;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-skew:hover, .hvr-skew:focus, .hvr-skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

.intro {
  padding: 20px 0 30px;
  background: url("../img/intro-bg.png") 50% 0 no-repeat;
  background-size: cover;
}

.slider .slider-item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.slider .slider-item img {
  position: relative;
  z-index: -100;
  right: 3%;
  width: 45%;
  height: 45%;
}

.text-wrap {
  position: relative;
  left: 3%;
  padding-top: 60px;
}
.text-wrap h2 {
  font-size: 65px;
  margin-bottom: 10px;
}
.text-wrap p {
  color: #fff;
}
.text-wrap .yellow-bg {
  background: #ffeb00;
}
.text-wrap .bg-grey {
  background: #3f3f44;
}
.text-wrap a {
  display: block;
  float: right;
  margin: 35px 25%;
}

.width-first {
  display: block;
  width: 360px;
  margin-bottom: 5px;
}

.width-second {
  display: inline;
  width: 640px;
}

.width-third {
  display: block;
  width: 350px;
}

.width-fourth {
  width: 363px;
}

.width-fifth {
  display: block;
  width: 297px;
}

.designs {
  padding: 90px 0;
}

.header-wrap {
  text-align: center;
  margin-bottom: 60px;
}
.header-wrap h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.designs-list li:hover .hover-block {
  display: none;
}
.designs-list li:hover .square {
  visibility: visible;
}
.designs-list li:hover .hover-words {
  visibility: visible;
}
.designs-list li:hover .text-block p {
  font: 20px "code", serif;
  text-transform: uppercase;
}
.designs-list .text-block {
  padding: 0 30px 30px;
  background: #3f3f44;
  text-align: center;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font: 13px "century-gothic", sans-serif;
  color: #fff;
}
.designs-list .text-block .hover-words {
  font-size: 10px;
  margin-top: 10px;
  float: right;
  visibility: hidden;
}
.designs-list .img-wrap {
  position: relative;
}
.designs-list img {
  width: 100%;
  height: auto;
}
.designs-list .hover-block {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.designs-list .hover-align {
  background: #ffeb00;
  height: 100%;
  padding: 10px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.designs-list .hover-align span {
  font: 20px "code", serif;
  text-transform: uppercase;
}

.web-design-icon:before {
  content: "";
  width: 110px;
  height: 90px;
  display: block;
  margin: 0 auto 30px;
  background: url("../img/web-design-icon.png") 50% 50% no-repeat;
}

.web-development-icon:before {
  content: "";
  width: 110px;
  height: 95px;
  display: block;
  margin: 0 auto 30px;
  background: url("../img/web-development-icon.png") 50% 50% no-repeat;
}

.graphic-design-icon:before {
  content: "";
  width: 90px;
  height: 110px;
  display: block;
  margin: 0 auto 30px;
  background: url("../img/graphic-design-icon.png") 50% 50% no-repeat;
}

.triangle {
  position: relative;
  height: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.square {
  position: absolute;
  bottom: 40%;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #3f3f44;
  text-indent: -9999px;
  visibility: hidden;
}

.yellow {
  color: yellow;
}

.our-work {
  padding-bottom: 85px;
  overflow: hidden;
}

.pretty-header {
  margin-bottom: 45px;
  text-align: center;
}
.pretty-header .bg-title {
  display: inline-block;
  background: #3f3f44;
  max-width: 160px;
  padding: 5px 25px;
  overflow: hidden;
}
.pretty-header h2 {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
  font-size: 18px;
  color: #ffeb00;
}
.pretty-header h2:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 60%;
  display: inline-block;
  height: 1px;
  width: 50%;
  background: #cacaca;
}
.pretty-header h2:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 60%;
  display: inline-block;
  height: 1px;
  width: 50%;
  background: #cacaca;
}
.pretty-header p {
  font-size: 16px;
}

.portfolio-list {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 200px;
  padding-right: 5px;
}

.grid-item--width2 {
  width: 400px;
}

.our-clients {
  padding-bottom: 115px;
  overflow: hidden;
}
.our-clients .slick-prev:before {
  height: 65px;
}
.our-clients .slick-next:before {
  height: 65px;
}

.clients-list li {
  margin: 50px 10px 0;
}

.main-footer {
  color: #fff;
}
.main-footer h3 {
  font-size: 18px;
}
.main-footer p {
  font-size: 13px;
}

.grey-bg {
  padding: 30px 0;
  background: #3f3f44;
}

.black-bg {
  padding: 30px 0;
  background: #000;
}

.left-content p {
  margin: 30px 0;
  line-height: 20px;
}
.left-content a {
  font-size: 15px;
  padding: 10px 15px;
  margin-bottom: 45px;
}

.gallery-list {
  max-width: 405px;
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery-list li {
  width: 32%;
  margin: 1.25% 1.25% 0 0;
}
.gallery-list img {
  display: block;
  width: 100%;
  height: auto;
}
