html, body{
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  padding: 15px;
  @include century-gothic(24px);
}
section {
  background: $grey-bg;
}
header {
  @extend section;
}
footer {
  @extend section;
}
h2 {
  text-indent: uppercase;
}