.intro {
  padding: 20px 0 30px;
  @include section-bg("../img/intro-bg.png");
}
.slider {
  .slider-item {
    img {
      position: relative;
      z-index: -100;
      right: 3%;
      width: 45%;
      height: 45%;
    }
    @include display-flex;
    @include justify-content(center);
  }
}
.text-wrap {
  position: relative;
  left: 3%;
  padding-top: 60px;
  h2 {
    font-size: 65px;
    margin-bottom: 10px;
  }
  p {
    color: $white;
  }
  .yellow-bg {
    background: $yellow;
  }
  .bg-grey {
    background: $grey;
  }
  a {
    display: block;
    float: right;
    margin: 35px 25%;
  }
}
.width-first {
  display: block;
  width: 360px;
  margin-bottom: 5px;
}
.width-second {
  display: inline;
  width: 640px;
}
.width-third {
  display: block;
  width: 350px;
}
.width-fourth {
  width: 363px;
}
.width-fifth {
  display: block;
  width: 297px;
}

//.team-list {
//  width: 50%;
//  @include display-flex;
//  @include flex-direction(column);
//  &:nth-child(2) {
//    @include align-self(flex-end);
//  }
//  .left-photos {
//    width: 50%;
//    @include display-flex;
//  }
//  .right-photos {
//    @include display-flex;
//    @include align-items(flex-end);
//  }
//  &:last-child {
//    @include display-flex;
//    @include align-items(center);
//  }
//}
