
.main-header {
  padding: 25px 0;
}
h1 {
  text-indent:  -9999px;
  margin-top: -35px;
}
.flex-header {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
}
.main-nav {
  width: 57%;
}
.menu-list {
  width: 100%;
  @include display-flex;
  @include justify-content(space-between);
  li {
    @include code-font(16px);
  }
  a {
    color: $black;
    text-transform: uppercase;
  }
}
.main-header {
  .menu-list {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.menu {
  display: none;
  @media (max-width: 767px) {
    display: block;
    width: 25px;
    height: 15px;
    @include small-bg("../img/menu-burger.png");
    background-color: $grey;
    border: 1px solid $grey;
    text-indent: -9999px;
    float: right;
    outline: none;
  }
}