@font-face {
  font-family: "code";
  src: url('../fonts/code/code-light.ttf') format('truetype'), url('../fonts/code/code-light.otf') format('opentype');
}
@font-face {
  font-family: "century-gothic";
  src: url('../fonts/century-gothic/century-gothic.ttf') format('truetype'), url('../fonts/century-gothic/century-gothic.otf') format('opentype');
}